body{
    background-image: url("https://i.imgur.com/iKVoqHz.jpg");
}
h1{
    font-size: 100px;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    margin: 20px 0 10px 0;
}
.containerInput{
    margin: 50px 0 0 50px;
}
.user-word{
    width: 130px;
    height: 30px;
}
.button-word{
    width: 70px;
    height: 20px;
    margin: 20px 0 0 0;
    padding: 0 0 10px 0;
}
.containerInputLetter{
    margin: 50px 0 0 50px;
}
.user-letter{
    width: 130px;
    height: 30px;
}
.button-letter{
    width: 70px;
    height: 20px;
    margin: 20px 0 0 0;
    padding: 0 0 10px 0;
}
.containerWin{
    display: flex;
    align-items: center;
    justify-content: center;
}
.offline{
    display: none;
}
.containerUFO{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerLetters{
    background-color: black;
    border-style: groove;
    border-color: white;
    border-width: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 40px 30px 40px;
    justify-content: space-between;
    margin: 30px 50px 10px 50px;
}
.containerLetters div{
    /* add underline to boxes */
    border-color: white;
    border-bottom-style: groove;
    font-size: 50px;
    margin: 10px 30px 0 30px;
    text-align: center;
}
.invisible{
    color: Black;
}
.clear{
    color: white;
}