body{
    background-image: url("https://i.imgur.com/iKVoqHz.jpg");
}
.overlap{
    position: relative;
    /* z-index: -1; */
}
.containerTitle{
    display: flex;
}
.containerTitle div{
    flex: 1;
    text-align: right;
}
.align{
    flex: 1;
    margin: 50px 0 0 50px;
}
.title{
    flex: 2;
    color: rgba(255,255,255,0.5);
    font-size: 100px;
    font-family: 'Bungee Shade', cursive;
    margin: 20px 0px 10px 0;
}
.resetDiv{
    margin: 50px 50px 0 0;
    flex: 1;
}
.containerInput{
    margin: 50px 0 0 50px;
}
.user-word{
    width: 130px;
    height: 30px;
}
.button-word{
    width: 70px;
    height: 20px;
    margin: 20px 0 0 0;
    padding: 0 0 10px 0;
}
.containerInputLetter{
    margin: 50px 0 0 50px;
}
.user-letter{
    width: 130px;
    height: 30px;
}
.button-letter{
    width: 70px;
    height: 20px;
    margin: 20px 0 0 0;
    padding: 0 0 10px 0;
}
.containerWin{
    flex: 2;
    align-items: center;
    justify-content: center;
    margin: 0 80 0 0px;
}
.offline{
    display: none;
}
.containerUFO{
    display: flex;
}
.containerUFO .box-1{
    border-style: groove;
    border-color: white;
    flex: 1;
    align-items: left;
    justify-content: left;
    color: white;
    width: 200px;
    text-align: center;
    font-size: 30px;
    padding: 10px 0 0 0;
    margin: 50px;
}
.containerUFO .box-2{
    flex: 1.5;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 20px;
}
.containerUFO .box-3{
    flex: 1;
    text-align: center;
    align-items: right;
    justify-content: right;
    color: white;
    border-style: groove;
    border-color: white;
    font-size: 30px;
    padding: 10px 0 0 0;
    margin: 50px;
}
.containerLetters{
    background-color: rgba(0,0,0,0.99);
    border-style: groove;
    border-color: white;
    border-width: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 40px 30px 40px;
    justify-content: space-between;
    margin: 30px 50px 10px 50px;
}
.containerLetters div{
    /* add underline to boxes */
    border-color: white;
    border-bottom-style: groove;
    font-size: 50px;
    margin: 10px 30px 0 30px;
    text-align: center;
}
.wins{
    color: green;
}
.losses{
    color: red;
}
.invisible{
    color: rgba(0,0,0,0.9);
}
.clear{
    color: rgba(255,255,255,0.8);
    font-family: 'Bungee Shade', cursive;
}
@media only screen and (min-width: 1440px){
    .containerTitle .title{
        margin: 0 10px 0 0;
    }
    .containerUFO .box2{
        margin: 0 0 0 50px;
    }
}